.lotto_wrapper {
  max-width: 800px;
  margin: 100px auto 0;
}

.item {
  display: inline-block;
  margin-right: 30px;
  width: 100px;
  height: 100px;
  background-color: #8267BE;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  border-radius: 50%;
  line-height: 100px;
}